:root {
  --color-primary: #dc0a2d;

  --color-grayscale-dark: #212121;
  --color-grayscale-medium: #666666;
  --color-grayscale-light: #e0e0e0;
  --color-grayscale-background: #e0e0e0;
  --color-grayscale-white: #ffffff;

  --color-pokemon-type-bug: #a7b723;
  --color-pokemon-type-dark: #75574c;
  --color-pokemon-type-dragon: #7037ff;
  --color-pokemon-type-electric: #f9cf30;
  --color-pokemon-type-fairy: #e69eac;
  --color-pokemon-type-fighting: #c12239;
  --color-pokemon-type-fire: #f57d31;
  --color-pokemon-type-flying: #a891ec;
  --color-pokemon-type-ghost: #70559b;
  --color-pokemon-type-normal: #aaa67f;
  --color-pokemon-type-grass: #74cb48;
  --color-pokemon-type-ground: #dec16b;
  --color-pokemon-type-ice: #9ad6df;
  --color-pokemon-type-poison: #a43e9e;
  --color-pokemon-type-psychic: #fb5584;
  --color-pokemon-type-rock: #b69e31;
  --color-pokemon-type-steel: #b7b9d0;
  --color-pokemon-type-water: #6493eb;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

a,
button {
  all: unset;

  cursor: pointer;
}
